# SPDX-FileCopyrightText: 2026 Alter Ego Contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Disallow All
*

# Allow Directories
!Commands/**/*
!Data/**/*
!Modules/**/*
!Classes/**/*

# Allow Root Directory Files
!bot.js
!package*.json
!.npmrc

# Allow Demodata
!Configs/demodata.json
