/*
 * SPDX-FileCopyrightText: 2025 Alter Ego Contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

code {
    white-space: pre-wrap !important;
}

.content img {
    margin: auto !important;
    display: block !important;
}
